* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.le{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background-image: url("img/apagada.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.licuadora.activo {
    position: fixed;
    left: 53%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 500px;
    background-image: url("img/sapoencendido.gif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.l-b {
    position:fixed;
    left: 53%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-image: url("img/off.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.l-b.activo {
    position:fixed;
    left: 53%;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background-image: url("img/on.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    }
    